* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-size: 15pt;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}

.parent {
  background-color: white;
  padding: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid darkgrey;
  border-radius: 5px
}

.content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.please {
  font-size: 15px
}

.add_tags {
  width: 100%;

  padding: 10px;
  border: 1px solid dimgrey;
  border-radius: 5px;
  outline: none;
  text-justify: center;
}

.last {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.last p {
  font-size: 15px
}

.remove {
  padding:5px 10px;
  border-radius: 3px;
  border: none;
  background-color: royalblue;
  color: white
}